.evaluation-list-item-avatar {
    position: relative;
}

.evaluation-list-item-avatar__wrapper {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.evaluation-list-item-avatar__icon {
    width: 20px;
}

.evaluation-list-item-avatar__img {
    width: 64px;
    height: 64px;
}