.page__choose-plan__card {
    width: 100%;
}

.page__choose-plan__card__bookmark {
    position: absolute;
    height: auto;
    width: 55px;
    right: 0;
    top: -10px;
    fill: #77FF77;
}

.page__choose-plan__card__features {
    margin: 0;
    padding: 0;
}

.page__choose-plan__card__features__item {
    list-style: none;
}

.page__choose-plan__card__features__item__icon {
    background-color: #77FF77;
    padding: .3rem;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    margin-bottom: .5rem;
    margin-right: .5rem;
}

.page__choose-plan__card .ribbon {
    background-color: #77FF77;
    color: #222;
    border-radius: 0 20px 20px 0;
    font-size: 19px;
    font-weight: 300;
    padding: 10px 15px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    top: 40px;
    right: -16px;
}

@media screen and (min-width: 992px) {
    .page__choose-plan__card {
        width: 400px;
        margin: auto;
    }
}