.page__workouts__details__header {
    display: flex;
    flex-direction: row;
}

.page__workouts__details__header__title {
    flex: 3;
}

.page__workouts__details__header__right {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.page__workouts__details__header__right__dropdown * {
    outline: none !important;
}

.page__workouts__details__header__right__dropdown button {
    color: #000;
    background-color: transparent;
    border: none;
    box-shadow: none !important;
}

.page__workouts__details__header__right__dropdown button:hover,
.page__workouts__details__header__right__dropdown button:active, 
.page__workouts__details__header__right__dropdown button:focus {
    background: #ddd !important;
    border-radius: 50% !important;
    color: inherit !important;
}

.page__workouts__details__header__right__dropdown button::after {
    display: none;
}