.page__public-profile-single__aside {
    top: 16.5rem;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #f6f7f9;
    padding-top: 7rem;
    border-right: 1px solid rgba(20, 20, 31, .1);
    z-index: 2;
}

.page__public-profile-single__aside__avatar {
    position: absolute;
    top: -13rem;
    left: 50%;
    transform: translateX(calc(-50% - 0.5rem));
    border: 4px solid #fff;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
}

.page__public-profile-single__aside .col-12 {
    text-align: center;
}

.page__public-profile-single__aside__avatar img {
    height: 100%;
}

.page__public-single__aside__videos div {
    width: 5rem;
    height: 4rem;
    background-color: aqua;
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
}

.page__public-profile-single__aside__modal__share {
    cursor: pointer;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    color: #112;
}

.page__public-profile-single__aside__modal__share:hover {
    background-color: #eee;
    color: inherit;
}

.page__public-profile-single__aside__modal__share:active {
    background-color: #00ec00;
}

.page__public-profile-single .toast-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

@media screen and (min-width: 769px) {
    .page__public-profile-single__aside {
        position: fixed;
        width: 16rem;
    }

    .page__public-profile-single__aside__avatar {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 768px) {
    .page__public-profile-single__aside__detail {
        display: none !important;
    }
}

@media screen and (min-width: 769px) {
    .page__public-profile-single__aside .col-12 {
        text-align: left;
    }
}

@media screen and (min-width: 992px) {
    .page__public-profile-single__aside {
        position: fixed;
        top: 16.5rem;
        bottom: 0;
        left: 0;
        width: 22rem;
        min-height: 100vh;
        background-color: #f6f7f9;
        padding-top: 7rem;
        border-right: 1px solid rgba(20, 20, 31, .1);
    }    
}