.app__aside {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    top: 3.5rem;
    width: 15rem;
    max-width: 16.5rem;
    height: 100vh;
    backface-visibility: hidden;
    background-color: #f6f7f9;
    border-right: 1px solid rgba(20,20,31,.05);
    z-index: 6;
}

.app__aside__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app__aside__content__menu {
    position: relative;
    flex: 1;
}

.app__aside__content__menu .stacked-menu {
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    padding: 1.25rem 0;
    background-color: transparent;
}
                            
.app__aside__content__menu .stacked-menu .menu {
    display: block;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.app__aside__content__menu .stacked-menu .menu-item-link {
    background-color: transparent;
    padding: .5rem 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    display: block;
    text-decoration: none;
}

.app__aside__content__menu .stacked-menu .menu-item-icon {
    width: 1.25em;
    margin-right: .5em;
    text-align: center;
    font-size: 1.525rem;
}

.app__aside__content__menu .stacked-menu .menu-item-text {
    vertical-align: middle;
}