@import url('https://fonts.googleapis.com/css?family=Anton&display=swap&text=abcdefghijklmnopqrstuvwyxz,.!?ABCDEFGHIJKLMNOPQRSTUVWXYZ');

.page__landing__main {
    margin: 5rem 0 15rem;
}

.page__landing__main__content__title {
    font-family: 'Anton', sans-serif;
}

.page__landing__main__content__btn {
    background-color: #00ff00;
    padding: .7rem 3rem;
    border-radius: 3rem;
    letter-spacing: .05rem;
    transition: background-color .4s;
    box-shadow: 0rem 1rem 3rem -0.9rem rgba(80, 80, 80, 0.9);
    text-align: center;
}

.page__landing__main__content__btn:hover {
    background-color: #03dc03
}

@media screen and (min-width: 768px) {
    .page__landing__main {
        background: url('../../../assets/images/mockup-01.png') top 0rem right 10rem  / 35% no-repeat;
    }

    .page__landing__main__content {
        padding-right: 10rem;
    }
}