.page__public-profile-single__header {
    width: 100vw;
    top: 3.5rem;
    z-index: 1;
}

.page__public-profile-single__header__bkg {
    height: 13rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (min-width: 769px) {
    .page__public-profile-single__header {
        position: fixed;
    }
}