.page__overlay__loading {
    background-color: rgba(80, 80, 80, .5);
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
}

.page__overlay__loading > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.create-profile__personal__img {
    position: relative;
}

.create-profile__personal__img:hover .create-profile__personal__img--hover {
    display: flex;
}

.create-profile__personal__img--hover {
    display: none;
    position: absolute;
    height: 122px;
    width: 122px;
    background: rgba(120, 120, 120, .8);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.page__create-profile {
    padding-top: 14rem;
    padding-bottom: 5rem;
    background: linear-gradient(#F9FAFC 80%,#bbbbbd);
}

.create-profile__personal__img__wrapper {
    width: 50%;
}

.create-profile__personal__img__wrapper img {
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .page__create-profile {
        padding-top: 0;
    }

    .page__create-profile__wrapper {
        padding-top: 8rem;
    }

    .create-profile__personal__img__wrapper {
        width: 25%;
    }
}