.page__profile__header {
    margin-top: -1.5rem;
    margin-left: -2rem;
    margin-right: -2rem;
    background-color: #eaebee;
    background-size: cover !important;
}

.page__profile__header__img {
    width: 8rem;
    height: 8rem;
    margin: auto;
    position: relative;
}

.page__profile__header__img img {
    position: absolute;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translateX(-50%);
}

.page__profile__header h3 {
    background: rgba(255, 255, 255, 0.6);
    display: inline-block;
    border-radius: 6px;
    padding: 0 1rem;
}